<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

    <div class="card  ">
      <div class="card-header">
        <h3> Pending Your Confirmation</h3>
      </div>
      <div class="card-body">
        <%= render 'pending_audit_confirmation', pending_audit_confirmations: @pending_audit_confirmations %>
    </div>
      </div>
    </div>
  </div>
</div>
